{% extends 'base.html' %}

{% block head_title %}
Signup | Store
{% endblock head_title %}

{% block content %}
<section class="form-section">
    <h2 class="section-headline">Sign Up</h2>
    <p class="section-description">
        Please fill in this form to create an account.
    </p>
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit">Signup</button>
            </p>
            <a href="{% url 'login' %}">Already have an account?</a>
        </form>
    </div>
</section>
{% endblock content %}