{% extends "base.html" %}
{% load static %}
{% block head_title %}{{product.title | capfirst }}{% endblock %}

{% block content %}

<section class="single-product-details clearfix">

    {% if object.image %}
    <div class="product-details-img">
        <img src="{{object.image.url}}" alt="" />
    </div>
    {% else %}
    <div class="product-details-img">
        <img src="{% static 'notfound.jpg' %}" alt="" />
    </div>
    {% endif %}
    <div class="product-details-desc">
        <a href="{% url 'product-edit' object.id %}"> &#9998; EDIT</a> |
        <a href="{% url 'product-delete' object.id %}">&#10006; DELETE</a>
        <div class="product-brand">{{ object.brand | capfirst }}</div>
        <h2 class="product-name">{{ object.title | capfirst }}</h2>
        <div class="product-price">${{ object.price | floatformat:2 }}</div>
        <p class="product-desc">
            {{object.description}}

        </p>
    </div>
</section>
{% endblock %}