{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Questrial|Domine" rel="stylesheet" />
    <title>{% block head_title %}STORE{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <!--HEADER-->
        <header>
            <h1 id="logo">
                <a href="{% url 'product-list' %}">STORE</a>
            </h1>
            <div id="controls">

                {% if user.is_authenticated %}

                <p>Hi {{ user.username }} | <a href="{% url 'logout' %}">Logout | </a></p>
                {% else %}
                <p>
                    <a href="{% url 'login' %}">Login | </a>
                </p>
                {% endif %}

                <div id="cart">
                    <a href="{% url 'cart' %}">
                        <svg class="svg-inline--fa fa-shopping-cart fa-w-18" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </header>

        <!--MAIN-->
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <!--FOOTER-->
    <footer>
        <a href="#" id="scroll-up">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!--2-->
        <p>&copy; 2020 STORE All Rights Reserved.</p>
        <!--2-->
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
</body>

</html>