{% extends 'base.html' %}

{% block title %}
Shopping Cart | Store
{% endblock title %}

{% block content %}


<ul>
    <h3><a href="{% url 'product-list' %}">&larr; Continue Shopping </a> | <a href="{% url 'empty_cart' %}"
            style="color: red;"> Empty your
            cart | <a href="{% url 'address' %}">Order Now &rarr;</a></a>
    </h3>
    {% for product in products  %}
    <li>
        <h2>{{ product.title | capfirst }} <a href="{% url 'remove_from_cart' product_id=product.id %}"
                style="color: red;">&#10006;</a>
        </h2>
    </li>
    {% empty %}
    <h1>No products Yet. <a href="{% url 'product-list' %}">Go to Store</a></h1>
    {% endfor %}

</ul>

<h4>Total Price : {{ total_price }} </h4>

{% endblock content %}